*
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0%;
    padding: 0%;
}
body
{
  position: relative;
}
/***Loader***/
.backloader
{
  background-color: rgba(0, 0, 0, 0.466);
  height: 100%;
  position: absolute;
  inset: 0;
  margin: auto;
  z-index: 2;
  animation: disappear 2s forwards;
  /* Forward évite les boucles d'animation*/
  animation-delay: 2s;

}
#titreloader
{
  width: 100px;
  height: 100px;
  position: fixed;
  top: 6%;
  bottom: 0;
  left: 0;
  right: 3%;
  margin: auto;
  z-index: 3;
  font-family: shrikhand;
  color:black ;
  animation: appear 1s;
  
}
.loader
{
  border: 10px solid #f3f3f3;
  border-top: 10px solid #99E2D0;
  border-bottom: 10px solid #9356DC;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: fixed;
  inset: 0;
  margin: auto;
  z-index: 2;
  -webkit-animation: spin 1000ms  linear infinite;
  -o-animation: spin 1000ms linear infinite;
  animation: spin 1000ms linear infinite;
}
@keyframes spin
{
  from{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

@keyframes appear
{
  0%
  {
    transform: translateY(10px);
    opacity: 0;
  }
  100%
  {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes disappear
{
  to
  { opacity: 0;
    z-index: 0;
  }
}

/*****Generale*****/

.flex-centre {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flex-column-centre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Primaire
  {
      background-color:#9356DC;
  }
  .Secondaire
  {
      background-color: #FF79DA;
  }
  .Tertiaire
  {
    background-color:  #99E2D0;
  }
  .colorGris
  {
      background-color: #F6F6F6;
  }
  /*******Generale******/
  /*****nav******/
.titreH1
{
    width: auto;
    font-size: 20px;
    box-shadow: 0 0 5px 0 rgb(153, 145, 145);
    min-height: 70px;
    position: relative; 
}
h1
{
    font-family: shrikhand;
}

/****header*****/
.location
{
    width: 100%;
    height: 55px;
    background-color: #EAEAEA;
}
#iconLocalisation
{
    margin-right: 10px;
}

/******cubeReserver****/
.cubeReserver
{
    display: flex;
    text-align: center;
    padding: 50px;
    background-color: #F6F6F6;
}
.cubeReserver > h2
{
    padding-top: 10px;
    text-align: center;
    width: 300px;
}
.cubeReserver > p
{
    padding-top: 10px;
    text-align: center;
    width: 300px;
}
.boutton
{
    margin-top: 20px;
    border: 0;
    padding: 0.75rem 1.5rem;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 100px;
    color: #fff;
    background-color: #686868;
    background-image: linear-gradient(0deg,rgba(127, 87, 175, 0.9),rgba(255,121,218,.9));
    cursor: pointer;
    transition-duration: .25s;
    box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
    z-index: 1;
}
.boutton:hover
{
    background-color: #fdaee7;
    opacity: 90%;
    box-shadow: 0.30rem 0.30rem 15px rgb(0 0 0 / 30%);
}

/***Cubefonction*****/
.cubeFonctionnement
{
    padding: 30px 16px;
    margin: auto;
    max-width: 1280px;
}
.grilleBlocFonction
{
  display: grid;
  grid-template-columns: repeat(auto-fill,350px);
  justify-content: center;
  grid-gap: 30px;
  max-width: 1300px;
  width: 100%;
  height: auto;
  margin: 10px auto;
}

.blocList
{   
    padding: 1.5rem;
    margin-left: 10px;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);
    border-radius: 1.25rem;
    background-color: #f6f6f6;
    position: relative;
    width: auto;
    cursor: pointer;
}
.blocList:hover
{
  background-color: #fdaee7;
    opacity: 90%;
    box-shadow: 0.30rem 0.30rem 15px rgb(0 0 0 / 30%);
}

.counter
{
    background: #9356dc;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    left: -0.75rem;
}
.inBlocklist
{
  margin-left: 10%;
}
.icon
{
  margin-right: 20px;
  margin-left: -90px;
}
/*******Restaurent*******/
.restaurants {
  background-color: #f6f6f6;
  padding: 2rem 1rem;
}

.container {
  max-width: 1280px;  

}
#titleRestauerent
{
  margin-bottom: 10px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));  
  gap: 1rem;
}

.card {
  background-color: #fff;
  border-radius: 1rem;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: block
}

.card__img {
  height: 12rem;
  width: 100%;
  border: 0 solid transparent;
  border-radius: 1rem 1rem 0 0;
  box-shadow: none;
  object-fit: cover;
}

.card__badge {
  background-color: #99e2d0;
  color: #1b6150;
  padding: .5rem;
  border-radius: .125rem;
  position: absolute;
  top: 1rem;
  right: .75rem;
}
.card__title {
  margin: 0 0 .25rem;
}

.card__subtitle {
  margin: 0;
}

.card__footer {
  padding: 1rem;
  position: relative;
  display: flex;
  align-items: center;
}
.menu_like
{
  max-width: 40px;
  height: 10px;
  font-size: 30px;
  display: flex;
  position: relative;
 top: -20%;
 left: 90%;
}

.vide
{
  position: absolute;
  transform: translateX(-100%);
}
.plein
{  
  position: absolute;
  color: transparent;
  background: linear-gradient(0deg,rgba(127, 87, 175, 1),rgba(255,121,218,1));
  background-clip: border-box;
  -webkit-background-clip: text;
  transform: translate(-20px,100%);
  opacity:0;
  font-size: 10.5px;
  transition: 200ms ease;
  cursor: pointer;
  z-index: 1;
}
.plein:hover
{
  opacity: 1;
  transform: translateX(-20px)translateY(90%) scale(3.1);
}
/****Footer****/
.footer {
  background-color: #353535;
}
footer {
  display: block;
  
}
.footer .container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.container {
  max-width: 1280px;
  margin: auto;
  position: relative;
}
.footer__logo {
  color: #fff;
  font-family: Shrikhand,"cursive";
  font-size: 1.2rem;
  margin: 0 0 1rem;
}
.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.footer__listElt:first-child {
  margin-top: 0;
}

.footer__listElt {
  margin: 0.5rem 0;
}

li {
  display: list-item;

}

.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul {
  list-style-type: disc;
}
.footer__link {
  color: #fff;
  text-decoration: none;
}

/****RESPONSIVE***/

@media  screen and (max-width:780px) {
  .cards {
    display: grid;
    column-gap: 1rem;
    row-gap: 1rem;
    grid-template-columns: 1fr;
    justify-content: center;
  }

}
@media screen and (max-width: 538px) {

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));  
    gap: 1rem;
  }
}

@media screen and (max-width: 360px) {
  .blocList
{   
    padding: 1rem;
    margin-left: 10%;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);
    border-radius: 1.25rem;
    background-color: #f6f6f6;
    position: relative;
    max-width: 250px;
    cursor: pointer;
}

.boutton
{
    margin-top: 20px;
    border: 0;
    width: 200px;
    padding: 0.75rem 1.5rem;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 100px;
    color: #fff;
    background-color: #686868;
    background-image: linear-gradient(0deg,rgba(127, 87, 175, 0.9),rgba(255,121,218,.9));
    cursor: pointer;
    transition-duration: .25s;
    box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
}
.inBlocklist
  {
    margin-left: 30%;
  }

}
@media screen and (max-width: 320px) {

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));  
    gap: 1rem;
  }
}
@media screen and (max-width: 300px) {


  .blocList
{   
    margin-left: 15%;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);
    border-radius: 1.25rem;
    background-color: #f6f6f6;
    position: relative;
    max-width: 220px;
    cursor: pointer;
}

@media screen and (max-width: 280px) {

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));  
    gap: 1rem;
  }
}
.cubeReserver > h2
{
    padding-top: 5px;
    text-align: center;
    width: 250px;
}
.cubeReserver > p
{
  padding-top: 10px;
  text-align: center;
  width: 270px;
}
.inBlocklist
  {
    margin-left: 40%;
  }
}


